<app-admin-header [option]="option"></app-admin-header>
<div style="padding-top: 7%;padding-left: 20%;">
    <h4><b><u>Employee List</u></b></h4>
</div>
<div class="emp_div1">
    
    <select>
        <option selected>Search by</option>
        <option>Name</option>
        <option>Id</option>
    </select>
    <input type="text" [(ngModel)]="searchedKeyword" style="margin-left: 2%; width: 30%;" placeholder="Enter Employee Name or ID">
    
    
</div>
<div class="emp_div2">
    <table class="emp_table1">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>DOJ</th>
            <th>Status</th>
            <th>Edit Status</th>
        </tr>
        <tr *ngFor="let data of empData">
            <td>{{data.emp_id}}</td>
            <td>{{data.emp_name}}</td>
            <td>{{data.doj}}</td>
            <td>{{data.status}}</td>
            <td>
                <span *ngIf="data.status=='Blocked'">
                    <a href="">
                        Activate/DeActivate
                    </a>
                </span>
            </td>
        </tr>
        
    </table>
    
</div>
<app-footer></app-footer>


<app-footer></app-footer>


