.emp_div1{
    
    margin-left: 20%;
    margin-top: 3%;
    /* box-shadow: 4px 4px 4px 4px rgba(0, 0, 255, .2); */
    /* border: 1px solid rgba(10, 102, 163, 0.897); */
    width:64%;
}
.emp_div2{
    margin-top: 20px;
    margin-left: 20%;
    
    margin-bottom: 2%;
}
th{
    background-color: rgba(10, 102, 163, 0.897);
    color: white;
}
.emp_table1{
    width:80%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 255, .2);
}
h4{
    color: rgba(10, 102, 163, 0.897);
    font-size: 150%;
    /* margin-left: 30%; */
}

