
<app-patient-header [option]="option"></app-patient-header>

<mat-card class="demographic-container">
  <mat-card class="dm-header">
    <p style="text-align: center;">Demographic Details</p>
  </mat-card>
  <form [formGroup]="patientDemographicForm" class="form-container" >
    <div class="dm-details">

      <div class="dm-info">
       

          <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
              <mat-label class="label">Title</mat-label>
              <select
                matNativeControl
                formControlName="title"
                id=""
                class="select-gender input-field"
                
              >
                <option value="Mr">Mr</option>
                <option value="Ms">Ms</option>
                <option value="Mrs">Mrs</option>
              </select>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
              <mat-label class="label">First Name</mat-label>
              <input matInput formControlName="fname"  class="input-field" />
            </mat-form-field>
  
            <span
              *ngIf="
              patientDemographicForm.controls['fname'].invalid &&
              patientDemographicForm.controls['fname'].dirty
              "
              >First Name cannot be empty</span
            >
          </div>

          <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
              <mat-label class="label">Last Name</mat-label>
              <input matInput formControlName="lname"  class="input-field" />
            </mat-form-field>
  
            <span
              *ngIf="
              patientDemographicForm.controls['lname'].invalid &&
              patientDemographicForm.controls['lname'].dirty
              "
              >Last Name cannot be empty</span
            >
          </div>
       
          
          <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
              <mat-label class="label">Gender</mat-label>
              <select
                matNativeControl
                formControlName="gender"
                id=""
                class="select-gender input-field"
                
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
              <mat-label class="label">Date of Birth</mat-label>
              <input  matInput [matDatepicker]="picker" formControlName="dob" (change)="onDobChange()" class="input-field" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
  
            <span
              *ngIf="
              patientDemographicForm.controls['dob'].invalid &&
              patientDemographicForm.controls['dob'].dirty
              "
              >Please provide your date of birth</span
            >
          </div>

          <div class="field" >
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
              <mat-label class="label">Age</mat-label>
              <input matInput  class="input-field" [disabled]="disableAge"/>
              
              <div style="padding: 0px; color:black;font-size: 16px;">{{age}}</div>
            
            </mat-form-field>
          </div>



        
      </div>


      <div class="dm-info">
       
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label class="label">Race</mat-label>
            <input matInput type="text" formControlName="race"  class="input-field" />
          </mat-form-field>

          <span
            *ngIf="
            patientDemographicForm.controls['race'].invalid &&
            patientDemographicForm.controls['race'].dirty
            "
            >Race is required</span
          >
        </div>
        
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label class="label">Ethnicity</mat-label>
            <input matInput type="text" formControlName="ethnicity"  class="input-field" />
          </mat-form-field>

          <span
            *ngIf="
            patientDemographicForm.controls['ethnicity'].invalid &&
            patientDemographicForm.controls['ethnicity'].dirty
            "
            >Ethnicity is required</span
          >
        </div>


        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label class="label">Languages Known</mat-label>
            <input matInput type="text" formControlName="language"  class="input-field" />
          </mat-form-field>

          <span
            *ngIf="
            patientDemographicForm.controls['language'].invalid &&
            patientDemographicForm.controls['language'].dirty
            "
            >Languages known is a required field</span
          >
        </div>

        
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Email</mat-label>
            <input matInput type="email" required formControlName="email" class="input-field" />
          </mat-form-field>
          <span
            *ngIf="
            patientDemographicForm.controls['email'].invalid &&
            patientDemographicForm.controls['email'].dirty
            "
            >Please enter your email address
            </span
          >
        </div>

       
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px" required>
            <mat-label class="label">Home Address</mat-label>
            <textarea matInput rows="5" formControlName="address" class="input-field" style="height: 36px;"></textarea>
          </mat-form-field>
          <span
              *ngIf="
              patientDemographicForm.controls['address'].invalid &&
              patientDemographicForm.controls['address'].dirty
              "
              >Address should be minimum 8 characters</span
            >
        </div>

       
        <div class="field">

          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Contact Number</mat-label>
            <input matInput type="tel" formControlName="contact" class="input-field" />
          </mat-form-field>
            <span
              *ngIf="
              patientDemographicForm.controls['contact'].invalid &&
              patientDemographicForm.controls['contact'].dirty
              "
              >Contact number is required</span
            >
        </div>

        
      </div>
    </div>
    <div class="actions">
        <!-- <button class="submit" [disabled]="patientDemographicForm.invalid">Submit</button> -->
        <button mat-raised-button class="submit" [disabled]="patientDemographicForm.invalid" [hidden]="!isSubmitClicked" (click)="onSubmit()">Submit</button>

        <button mat-raised-button class="edit" [hidden]="!isEditClicked" (click)="onEdit()">Edit</button>
        <button mat-raised-button class="cancel" [hidden]="!isCancelClicked" (click)="onCancel()">Cancel</button>
        <!-- <button>Cancel</button> -->
    </div>
  </form>
</mat-card>

<br>

<app-footer></app-footer>

