.demographic-container {
    width: 60%;
    display: grid;
    place-items: center;
    margin: auto;
    
    /* border: 1px solid black; */
  
    border: 1px solid rgba(10, 102, 163, 0.897);

    box-shadow: 4px 4px 4px 4px rgba(0, 0, 255, .2);
  

}

.dm-header {
    width: 100%;
    height: 2rem;
    padding: 1px;
    
   
}

p{
    font-size: large;
    font-weight: bold;
    padding-top: 2px;
    font-family: 'Times New Roman', Times, serif;
    /* color: rgba(10, 102, 163, 0.897); */
    color: white;
    text-align: center;
}
.dm-details {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    /* justify-content:space-evenly; */
    padding: 1rem;
    margin: auto;
}

.dm-info {
    /* border: 2px solid orange; */
    flex: 0.5;
}

.field {
    /* border: 2px solid red; */
    display: flex;
    padding: 5px;

}

/* 
.field>*{
flex-basis: 100%;
} */
.field-label {
    flex: 0.4;

    padding: 5px 5px;
    font-size: 15px;

}

.field-value {
    flex: 0.6;
    padding: 2px 5px;
    display: flex;
    flex-direction: column;
    
}

.radio {
    display: flex;
    flex-direction: row;
    width: 90%;

}

.field-value input, .field-value textarea, .field-value radio {
    padding: 2px;
    /* background-color: red; */
    /* border: none; */
    border: 1px solid black;
    width: 90%;
    height: 90%;
    margin-bottom: 3px;
}

button {
    margin: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 98%;
    justify-content: space-between;
}

.actions {
    margin: auto;
}

span {
    color: red;
    font-size: 10px;
}

.radio-item {
    display: flex;
    width: 100%;
}

.radio-item>* {
    flex-basis: 100%;
}

.actions{
    margin-bottom: 10px;
}

.submit{
    margin-right: 10px;
    width: 70px;
    background-color: green;
    color: white;
    
}
.edit{
    margin-right: 10px;
    width: 70px;
    background-color:rgba(10, 102, 163, 0.897);
    color: white;
}
.cancel{
    margin-right: 10px;
    width: 70px;
    background-color:lightgrey;
    color: white;
}