
<app-patient-header [option]="option"></app-patient-header>

<mat-card class="demographic-container">
  <mat-card class="dm-header">
    <p style="text-align: center;">Demographic Details</p>
  </mat-card>
  <form [formGroup]="patientDemographicForm" class="form-container" >
    <div class="dm-details">

      <div class="dm-info">
        <div class="field-radio">
          <mat-label class="label" style="margin-right:14px;font-size: 14px;">Title</mat-label>
          <mat-radio-group formControlName="title" required>
            <mat-radio-button class="padding-right radio-yes" value="Mr">Mr</mat-radio-button>
            <mat-radio-button class="padding-right"  value="Ms">Ms</mat-radio-button>
            <mat-radio-button class="padding-right"  value="Mrs">Mrs</mat-radio-button>
          </mat-radio-group>
          </div>

          <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
              <mat-label class="label">First Name</mat-label>
              <input matInput formControlName="fname"  class="input-field" />
            </mat-form-field>
  
            <span
              *ngIf="
              patientDemographicForm.controls['fname'].invalid &&
              patientDemographicForm.controls['fname'].dirty
              "
              >First Name cannot be empty</span
            >
          </div>

          <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
              <mat-label class="label">Last Name</mat-label>
              <input matInput formControlName="lname"  class="input-field" />
            </mat-form-field>
  
            <span
              *ngIf="
              patientDemographicForm.controls['lname'].invalid &&
              patientDemographicForm.controls['lname'].dirty
              "
              >Last Name cannot be empty</span
            >
          </div>
       

          <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
              <mat-label class="label">Date of Birth</mat-label>
              <input  matInput [matDatepicker]="picker" formControlName="dob" (change)="onDobChange()" class="input-field" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
  
            <span
              *ngIf="
              patientDemographicForm.controls['dob'].invalid &&
              patientDemographicForm.controls['dob'].dirty
              "
              >Please provide your date of birth</span
            >
          </div>

        

          
        <div class="field" style="padding-bottom: 15px;  flex-direction: row;">
          <div class="field-label">
            <label style="font-size: 14px;">Age</label>
          </div>
          <div class="field-value" >
            {{age}}
            
          </div>
        </div>

        <div class="field-radio" style="padding-bottom: 15px;">
          <mat-label class="label" style="margin-right:14px;font-size: 14px;">Gender</mat-label>
          <mat-radio-group formControlName="gender" required>
            <mat-radio-button class="padding-right radio-yes" value="Male">M</mat-radio-button>
            <mat-radio-button class="padding-right"  value="Female">F</mat-radio-button>
            <mat-radio-button class="padding-right"  value="Other">Other</mat-radio-button>
          </mat-radio-group>
          </div>


        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label class="label">Race</mat-label>
            <input matInput type="text" formControlName="race"  class="input-field" />
          </mat-form-field>

          <span
            *ngIf="
            patientDemographicForm.controls['race'].invalid &&
            patientDemographicForm.controls['race'].dirty
            "
            >Race is required</span
          >
        </div>
      </div>


      <div class="dm-info">
       
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label class="label">Ethnicity</mat-label>
            <input matInput type="text" formControlName="ethnicity"  class="input-field" />
          </mat-form-field>

          <span
            *ngIf="
            patientDemographicForm.controls['ethnicity'].invalid &&
            patientDemographicForm.controls['ethnicity'].dirty
            "
            >Ethnicity is required</span
          >
        </div>


        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label class="label">Languages Known</mat-label>
            <input matInput type="text" formControlName="language"  class="input-field" />
          </mat-form-field>

          <span
            *ngIf="
            patientDemographicForm.controls['language'].invalid &&
            patientDemographicForm.controls['language'].dirty
            "
            >Languages known is a required field</span
          >
        </div>

        
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Email</mat-label>
            <input matInput type="email" required formControlName="email" class="input-field" />
          </mat-form-field>
          <span
            *ngIf="
            patientDemographicForm.controls['email'].invalid &&
            patientDemographicForm.controls['email'].dirty
            "
            >Please enter your email address
            </span
          >
        </div>

       
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px" required>
            <mat-label class="label">Home Address</mat-label>
            <textarea matInput rows="5" formControlName="address" class="input-field"></textarea>
          </mat-form-field>
          <span
              *ngIf="
              patientDemographicForm.controls['address'].invalid &&
              patientDemographicForm.controls['address'].dirty
              "
              >Address should be minimum 8 characters</span
            >
        </div>

       
        <div class="field">

          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Contact Number</mat-label>
            <input matInput type="tel" formControlName="contact" class="input-field" />
          </mat-form-field>
            <span
              *ngIf="
              patientDemographicForm.controls['contact'].invalid &&
              patientDemographicForm.controls['contact'].dirty
              "
              >Contact number is required</span
            >
        </div>

        
      </div>
    </div>
    <div class="actions">
        <!-- <button class="submit" [disabled]="patientDemographicForm.invalid">Submit</button> -->
        <button mat-raised-button class="submit" [disabled]="patientDemographicForm.invalid" [hidden]="!isSubmitClicked" (click)="onSubmit()">Submit</button>

        <button mat-raised-button class="edit" [hidden]="!isEditClicked" (click)="onEdit()">Edit</button>
        <button mat-raised-button class="cancel" [hidden]="!isCancelClicked" (click)="onCancel()">Cancel</button>
        <!-- <button>Cancel</button> -->
    </div>
  </form>
</mat-card>

<br>

<app-footer></app-footer>

