<app-patient-header [option]="option"></app-patient-header>
<div class="border-vitals">
    
    
    <div [formGroup]="patientDiagnosisTable" class="diag-table" >
        
        <mat-card class="em-header">
            <label style="color: rgba(10, 102, 163, 0.897);padding-left: 10%;"><b>Add Diagnosis Details</b></label>
        </mat-card >
        <div style="margin-top: 5%;">
            <div style="margin-left: 20%;">
            <mat-form-field  appearance="fill"  class="no-bottom dropdown mw-50 dropdown1-style" style="width: 250px;" >
                <mat-label class="label">Diagnosis Name</mat-label>
                <select matNativeControl (change)="diagnosisCodeChangeHandler(select.value)" #select formControlName="diag_name" [(ngModel)]="diag_name">
                    <option *ngFor="let item of diagnosisName" [value]="item.diag_name">{{item.diag_name}}</option>
                </select>
            </mat-form-field> 
            </div>
            <br><br>
            <div style="margin-left: 23.9%;">        
            <mat-form-field appearance="fill"  class="no-bottom mw-50 dropdown-style" style="width: 250px;">
                <mat-label class="label">Diagnosis Code</mat-label>
                <select matNativeControl formControlName="diag_code" [(ngModel)]="diag_code">
                    <option selected>--Select Code--</option>
                    <option *ngFor="let type of diagnosisCode" [value]="type.diag_code">{{type.diag_code}}</option>    
                </select>
            </mat-form-field>
            </div>
                <div style="padding-top: 5%;">
                    <button [disabled]="patientDiagnosisTable.invalid" (click)="btn_Add()" style="background-color:green ;width:14%;color:white;margin-bottom: 5%;margin-left: 33%;" mat-raised-button>Add</button>
                    <button (click)="btn_Cancel()" style="background-color:rgba(10, 102, 163, 0.897) ;color:white;margin-bottom: 5%;margin-left: 7%;" mat-raised-button>Reset</button>
                </div>
            </div>
           
    </div>

    <br>
    <br>
    
</div>


<app-footer></app-footer>