<app-header></app-header>
<div class="main-container">
    <div class="main-container">
        <!-- <div class="welcome">
            <mat-card>
            <h1 style="padding-left:10%;color: rgba(10, 102, 163, 0.897);"><b>Welcome to CT General Hospital</b></h1>
        </mat-card>
        </div> -->
        <div class="form-group" >
        <form #patientForm="ngForm" [formGroup]="patientRegisterForm" >
            <div class="form-sign-div">
                <div style="margin-left: 30%;padding-top: 15px;">
                    <div >
                    <mat-card style="width: 85%;">
                <p class="form-sign"><u><b>Sign Up</b></u></p>
                </mat-card>
            </div>
                <!-- It's easy and Simple -->
                <div style="margin-top: 10%;">
                    <!-- style="color:rgba(10, 102, 163, 0.897)" -->
                    <mat-label style="font-size:14px;" for="">Title</mat-label>
                    <mat-radio-group formControlName="title" required >
                    <mat-radio-button style="margin-left:10%"value="Mr"> <label for="">Mr</label></mat-radio-button>
                    <mat-radio-button style="margin-left:5%;" value="Ms"> <label for="">Ms</label></mat-radio-button>
                    <mat-radio-button style="margin-left:5%" value="Mrs"> <label for="">Mrs</label></mat-radio-button>
                </mat-radio-group>
                    <br>
                    <div>
                    <span *ngIf="patientRegisterForm.controls['title'].invalid && patientRegisterForm.controls['title'].dirty" style="color: red;font-size: small;">*Kindly select the title</span>
                </div>
                </div>
                <br>
                <div>
                    <mat-form-field>
                    <mat-label class="label" for="">First Name</mat-label>
                    
                    <input matInput  type="text"formControlName="fname"> 
                     <!-- <span *ngIf="patientRegisterForm.controls['fname'].valid && patientRegisterForm.controls['fname'].dirty">
                         <span *ngIf="patientRegisterForm.controls['fname'].errors['required']">First Name cannot be empty</span> 
                        <span *ngIf="patientRegisterForm.controls['fname'].errors['minlength']">First Name should be more than 3 characters</span>
        
                    </span>  -->
                    </mat-form-field>
                    <br>
                    <span *ngIf="patientRegisterForm.controls['fname'].invalid && patientRegisterForm.controls['fname'].touched" style="color: red;font-size: small;">*First Name cannot be empty</span>
        
                </div>
                <br>
                <div>
                    <mat-form-field>
                        
                    <mat-label class="label" for="">Last Name</mat-label>
                    <input matInput type="text" formControlName="lname"> 
                </mat-form-field>
                    <br>
                    <div>
                    <span *ngIf="patientRegisterForm.controls['lname'].invalid && patientRegisterForm.controls['lname'].touched" style="color: red;font-size: small;">*Last Name cannot be empty</span>
                    </div>
                </div>
                <br>
                <div>
                    <mat-form-field>
                    <mat-label class="label" for="">Email</mat-label>
                    <input  matInput type="text" formControlName="email"> 
                </mat-form-field>
                    <br>
                    <!-- dirty -->
                    <span *ngIf="patientRegisterForm.controls['email'].invalid && patientRegisterForm.controls['email'].touched" style="color: red;font-size: small;">*Please enter your email address</span>
                    <span *ngIf="patientRegisterForm.controls['email'].invalid && patientRegisterForm.controls['email'].touched" style="color: red;font-size: small;"> e.g.exampleusername@xyzdomain.com</span>
                </div>
                <br>
                <div>
                    <mat-form-field>
                        <mat-label class="label" for="">Date of Birth</mat-label>
                        <input  matInput [matDatepicker]="picker" formControlName="dateOfBirth" name="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker  style="height: 30px;"></mat-datepicker>
                   </mat-form-field>
                    <br>
                    <span *ngIf="patientRegisterForm.controls['dateOfBirth'].invalid && patientRegisterForm.controls['dateOfBirth'].touched"style="color: red;font-size: small;">*Please provide your date of birth </span>
                </div>
                <br>
                <div>
                    <mat-form-field>
                    <mat-label class="label" for="">Contact</mat-label>
                    <input matInput type="text" formControlName="contact"> 
                </mat-form-field>
                    <br>
                    <span *ngIf="patientRegisterForm.controls['contact'].invalid && patientRegisterForm.controls['contact'].touched" style="color: red;font-size: small;">*Please provide your contact number</span>
                </div>
                <br>
                <div>
                    <mat-form-field>
                    <mat-label class="label" for="">Password</mat-label>
                    <input matInput type="password" name="password" formControlName="password" >
                </mat-form-field>
                    <br>
                    <span *ngIf="patientRegisterForm.controls['password'].invalid && patientRegisterForm.controls['password'].touched" style="color: red;font-size: small;">*Please enter the password with a minimum of one Uppercase letter, one lowercase letter, one number and minimum length of 8 characters</span>
                    <!-- <span></span>Please re-enter the password with a minimum of one Uppercase letter, one lowercase letter, one number and minimum length of 8 characters -->
                </div>
                <br>
                <div>
                    <mat-form-field>
                    <mat-label class="label" for="">Confirm Password</mat-label>
                    <input matInput confirmPasswdValidatior="password" type="password" formControlName="confirmPassword" >
                    <br>
                </mat-form-field>
                    <span *ngIf="patientRegisterForm.controls['confirmPassword'].invalid && patientRegisterForm.controls['confirmPassword'].touched" style="color: red;font-size: small;">*Password is required</span>
                
                    <br>
                    <span *ngIf="patientRegisterForm.controls['confirmPassword'].errors?.['notEqual'] && patientRegisterForm.controls['confirmPassword'].invalid" style="color: red;font-size: small;">*Password doesn't match</span>
                </div>
                  <br>  
                <div>
                
                <button  type="button"  [disabled]="patientRegisterForm.invalid" (click)="btn_submit()" mat-button style="margin-left: 12%;background-color: green;color: white;" routerLink='/login' >Register</button>
                <button type="button" mat-button style="margin-left: 7%;margin-bottom: 5%;width: 30%; background-color:rgba(10, 102, 163, 0.897);color: white;" (click)="btn_reset()">Reset</button>
                </div>
                <div style="margin-bottom: 7%;">
                    <a routerLink='/login' style="margin-left:29%" href="">Back to Login</a>
                </div>
            </div>
            </div>
        </form>
        
        </div>
        </div>
    </div>

    <br>
    <app-footer></app-footer>
  
