<div class="main-container">
    <div class="welcome">
        <h3><u><b>Welcome to CT General Hospital</b></u></h3>
    </div>
    <div class="form-group" >
    <form [formGroup]="patientRegisterForm" >
        <div class="form-sign-div">
            <div style="margin-left: 40%;">
            <p class="form-sign"><u><b>Sign Up</b></u></p>
            <!-- It's easy and Simple -->
            <div>
                <label for="">Title:</label>
                <input type="radio" formControlName="title" id="" value="Mr"> <label for="">Mr</label>
                <input type="radio" formControlName="title" id="" value="Ms"> <label for="">Ms</label>
                <input type="radio" formControlName="title" id="" value="Mrs"> <label for="">Mrs</label>
                <br>
                <span *ngIf="patientRegisterForm.controls['title'].invalid && patientRegisterForm.controls['title'].dirty" style="color: red;font-size: small;">*Kindly select the title</span>
                
            </div>
            <br>
            <div>
                
                <input type="text" placeholder="Enter Firstname" formControlName="fname"> 
                 <!-- <span *ngIf="patientRegisterForm.controls['fname'].valid && patientRegisterForm.controls['fname'].dirty">
                     <span *ngIf="patientRegisterForm.controls['fname'].errors['required']">First Name cannot be empty</span> 
                    <span *ngIf="patientRegisterForm.controls['fname'].errors['minlength']">First Name should be more than 3 characters</span>
    
                </span>  -->
                <br>
                <span *ngIf="patientRegisterForm.controls['fname'].invalid && patientRegisterForm.controls['fname'].dirty" style="color: red;font-size: small;">*First Name cannot be empty</span>
    
            </div>
            <br>
            <div>
                <!-- <label for="">Last Name</label> -->
                <input type="text" placeholder="Enter Lastname" formControlName="lname"> 
                <br>
                <span *ngIf="patientRegisterForm.controls['lname'].invalid && patientRegisterForm.controls['lname'].dirty" style="color: red;font-size: small;">*Last Name cannot be empty</span>
            </div>
            <br>
            <div>
                <!-- <label for="">Email</label> -->
                <input type="text" placeholder="Enter Email" formControlName="email"> 
                <br>
                <span *ngIf="patientRegisterForm.controls['email'].invalid && patientRegisterForm.controls['email'].dirty" style="color: red;font-size: small;">*Please enter your email address e.g.exampleusername@xyzdomain.com</span>
            </div>
            <br>
            <div>
                <!-- <label for="">Date of Birth</label> -->
                <input type="date" formControlName="dateOfBirth"> 
                <br>
                <span *ngIf="patientRegisterForm.controls['dateOfBirth'].invalid && patientRegisterForm.controls['dateOfBirth'].dirty"style="color: red;font-size: small;">*Please provide your date of birth </span>
            </div>
            <br>
            <div>
                <!-- <label for="">Contact</label> -->
                <input type="text" placeholder="Enter Mobilenumber" formControlName="contact"> 
                <br>
                <span *ngIf="patientRegisterForm.controls['contact'].invalid && patientRegisterForm.controls['contact'].dirty" style="color: red;font-size: small;">*Please provide your contact number</span>
            </div>
            <br>
            <div>
                <!-- <label for="">Password</label> -->
                <input type="password" placeholder="Enter Password" formControlName="password" >
                <br>
                <span *ngIf="patientRegisterForm.controls['password'].invalid && patientRegisterForm.controls['password'].dirty" style="color: red;font-size: small;">*Password is weak. Please re-enter the password with a minimum of one Uppercase letter, one lowercase letter, one number and minimum length of 8 characters</span>
            </div>
            <br>
            <div>
                <!-- <label for="">Confirm Password</label> -->
                <input type="password" maxlength="10" minlength="10" placeholder="ReEnter Password" formControlName="confirmPassword" >
                <br>
                <span *ngIf="patientRegisterForm.controls['confirmPassword'].invalid && patientRegisterForm.controls['confirmPassword'].dirty" style="color: red;font-size: small;">*Password doesn't match</span>
            </div>
              <br>  
            <div>
            
            <button [disabled]="patientRegisterForm.invalid" style="margin-left: 5%;" routerLink='/login' >Register</button>
            </div>
        </div>
        </div>
    </form>
    
    </div>
    </div>
