
<div>
    <mat-card>
        <form>
            <div>
                <span><strong style="color: rgb(113, 113, 230);">{{UserId}}</strong></span>
                    <!-- <mat-icon>account_box</mat-icon> -->
            </div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Old Password" [formControl]="oldPassword" [type]="hide1 ? 'password' : 'text'"/>
                <mat-icon matSuffix (click)="hide1 = !hide1">
                    <span class="material-icons teal-color"> visibility</span></mat-icon>
                <mat-error *ngIf="oldPassword.dirty && oldPassword.errors!=null && oldPassword.errors['pattern']">
                    <strong>Pattern Wrong</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [formControl]="password" [type]="hide ? 'password' : 'text'" />
                <mat-icon matSuffix (click)="hide = !hide">
                    <span class="material-icons teal-color"> visibility</span></mat-icon>
                <mat-error *ngIf="password.dirty && password.errors!=null && password.errors['pattern']">
                    <strong>Pattern Wrong</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Confirm Password"  [formControl]="confirmPassword" type="password"/>
                
                <mat-error
                    *ngIf="confirmPassword.dirty && confirmPassword.errors!=null && confirmPassword.errors['noMatch']">
                    <strong>Password</strong> and <strong>Confirm Password</strong> must be same
                </mat-error>
            </mat-form-field>
            <br><br>
            <button style="width: 80px;"  mat-button
                [disabled]="(confirmPassword.errors!=null && (confirmPassword.errors['required'] || confirmPassword.errors['noMatch']) || ( password.errors!=null && (password.dirty || password.errors['pattern'])) ? true:false)"
                (click)="btnSubmitPassowrd_click()">
                Submit
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button style="width: 80px;"  id="btnback" mat-button (click)="btnback_click()">
                Back
            </button>
        </form>
    </mat-card>

</div>