.table-container {
    /* background-color: rgb(236, 232, 232); */
    border-collapse: collapse;
    width: 60%;
    display: grid;
    place-items: center;
    margin: auto;
    border: 1px solid rgba(10, 102, 163, 0.897);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 255, .2);
}
.table-head{
    padding:  4px;
    /* border-top: 2px solid rgba(10, 102, 163, 0.897);; */
    border-bottom:  2px solid rgba(10, 102, 163, 0.897);
    font-weight: bold;
}

.table-row{
    padding:  2px;
    /* border-bottom:  0.5px solid gray; */
}

.table-head, .table-row{
    background-color: white;
    width: 100%;
    color: rgba(10, 102, 163, 0.897);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.table-head>*, .table-row>*{
    flex-basis: 100%;
}

.table-row:nth-of-type(even){
background-color:   #f3f3f3;;
}