<app-physician-header [option]="option"></app-physician-header>

<div class="control-section">
  <ejs-schedule
    #scheduleObj
    width="100%"
    height="550px"
    [selectedDate]="selectedDate"
    [eventSettings]="eventSettings"
    (actionBegin)="onActionBegin($event)"
    (eventRendered)="onEventRendered($event)"
    (popupClose)="onPopupClose($event)"
    (popupOpen)="onPopupOpen($event)"
    [showQuickInfo]="showQuickInfo"
  >
    <e-views>
      <e-view option="Day"></e-view>
      <e-view option="Week" startHour="07:00" endHour="15:00"></e-view>
      <e-view option="WorkWeek"></e-view>
      <e-view option="Month"></e-view>
    </e-views>
    <ng-template #editorTemplate let-data>
      <table
        *ngIf="data != undefined"
        class="custom-event-editor"
        width="100%"
        cellpadding="5"
      >
        <tbody>
          <tr style="display:none">
            <td class="e-textlabel">Id</td>
            <td colspan="1">
              <input
              id="Id"
              class="e-field e-input"
              type="text"
              value="{{ data.Id }}"
              name="Id"
              style="width: 100%"
            /></td>
          </tr>
          <tr>
            <td class="e-textlabel">Meeting Title</td>
            <td colspan="4">
              <input
                id="MeetingTitle"
                class="e-field e-input"
                type="text"
                value="{{ data.MeetingTitle }}"
                name="MeetingTitle"
                style="width: 100%"
              />
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">Patient Name</td>
            <td colspan="4">
              <input
                id="Subject"
                class="e-field e-input"
                type="Subject"
                value="{{ data.Subject }}"
                name="Subject"
                style="width: 100%"
              />
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">Physician</td>
            <td colspan="4">
              <ejs-dropdownlist
                id="Physician"
                class="e-field"
                data-name="Physician"
                placeholder="select Physician"
                [dataSource]="physicianData"
                value="{{ data.Physician }}"
              >
              </ejs-dropdownlist>
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">Status</td>
            <td colspan="4">
              <ejs-dropdownlist
                id="Status"
                class="e-field"
                data-name="Status"
                placeholder="Choose Status"
                [dataSource]="statusData"
                value="{{ data.Status }}"
              >
              </ejs-dropdownlist>
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">From</td>
            <td colspan="4">
              <ejs-datetimepicker
                id="StartTime"
                class="e-field"
                data-name="StartTime"
                format="M/dd/yy h:mm a"
                (change)="onDateChange($event)"
                [value]="startDateParser(data.startTime || data.StartTime)"
              >
              </ejs-datetimepicker>
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">To</td>
            <td colspan="4">
              <ejs-datetimepicker
                id="EndTime"
                class="e-field"
                data-name="EndTime"
                format="M/dd/yy h:mm a"
                (change)="onDateChange($event)"
                [value]="endDateParser(data.endTime || data.EndTime)"
              >
              </ejs-datetimepicker>
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">Description</td>
            <td colspan="4">
              <textarea
                id="Description"
                class="e-field e-input"
                name="Description"
                rows="3"
                cols="50"
                value="{{ data.Description }}"
                style="width: 100%; height: 60px !important; resize: vertical"
              ></textarea>
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">Action</td>
            <td>
              <button routerLink="/patient-header">Visit Patient Chart</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ejs-schedule>
</div>

<br><br><br>
<app-footer></app-footer>
