/* .main-container{
    display: flex;
    flex-direction: row;
    flex: 0.2;
}

.name-container{
    color: rgb(55, 118, 212)
}
.image-container{
    object-fit: contain;
    padding-left: 10px;
    padding-top: 10px;
}
h2{
    font-weight: bolder;
    font-size: 32px;
} */

.sticky-top{
    background-color:rgba(36, 32, 32, 0.904);
   
   
}