<div class="main-container">
    <div class="image-container">
        <img src="assets\Hospital_Logo.png" alt="Logo">
    </div>

    <!--
        <div class="name-container">
                <h2>CT General Hospital</h2>
            </div>
    -->
   
    <!-- <nav style="text-align:center;">
        <button routerLink='/login'>Login</button>
        <button routerLink='/patient-register'>Register</button>
        <button routerLink='/change-password'>Change</button>
        <button routerLink='/forgot-password'>Forgot</button>
        
    </nav> -->
</div>

