.mat{
    margin: auto;
    width: 40%;
    border: 1px solid rgba(10, 102, 163, 0.897);
    padding: 20px;
    padding-top: 40px;
    height: 465px;
   
    /* box-shadow: 5px 5px gray; */
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 255, .2);
    /* box-shadow: 2px 2px 2px 1px rgba(10, 102, 163, 0.2); */
    /* box-shadow: 10px 5px 5px gray; */
    /* box-shadow: 1px 1px 1px 1px rgba(10, 102, 163, 0.897) */
    
   
}
th{
    /* color: rgba(10, 102, 163, 0.897); */
    color: rgba(10, 102, 163);
    opacity: 0.7;
    padding-left: 25px;
}
td{
    padding-left: 25px;
}
#btn{
    margin: 50px;
    padding-left: 77px;
}
input
{
    height: 20px;
    width: 60px;
}