<app-patient-header [option]="option"></app-patient-header>

<mat-card class="emergency-container">
  <mat-card class="em-header">
    <p style="text-align: center;">Add Vital Details</p>
  </mat-card>
  <form [formGroup]="patientVitalForm" class="form-container">
    <div class="em-details">
     
      <div class="em-info">
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label  class="label">Height</mat-label>
            <span class="suffix" matSuffix>cm</span>
            <input matInput type="text" formControlName="height"  class="input-field" />
          </mat-form-field>
          <span class="error"
              *ngIf="
              patientVitalForm.controls['height'].invalid &&
              patientVitalForm.controls['height'].dirty
              "
              >Height is a required field with numbers</span
            >
        </div>

        <div class="field">
            <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
              <mat-label  class="label">Weight</mat-label>
              <span class="suffix" matSuffix>kgs</span>
              <input matInput type="text" formControlName="weight"  class="input-field" />
            </mat-form-field>
            <span class="error"
            *ngIf="
            patientVitalForm.controls['weight'].invalid &&
            patientVitalForm.controls['weight'].dirty
            "
            >Weight is a required field with numbers</span
          >
        </div>

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label  class="label">Body Temperature</mat-label>
            <span class="suffix" matSuffix>Fahrenheit</span>
            <input matInput type="text" formControlName="temperature"  class="input-field" />
          </mat-form-field>
          <span class="error"
            *ngIf="
            patientVitalForm.controls['temperature'].invalid &&
            patientVitalForm.controls['temperature'].dirty
            "
            >Temperature is a required field with numbers</span
          >
        </div>

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label  class="label">Systolic</mat-label>
            <span class="suffix" matSuffix>mmHg</span>
            <input matInput type="text" formControlName="systolic"  class="input-field" />
          </mat-form-field>
          <span class="error"
            *ngIf="
            patientVitalForm.controls['systolic'].invalid &&
            patientVitalForm.controls['systolic'].dirty
            "
            >Systolic is a required field with numbers</span
          >
        </div>

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label  class="label">Diastolic</mat-label>
            <span class="suffix" matSuffix>mmHg</span>
            <input matInput type="text" formControlName="diastolic"  class="input-field" />
          </mat-form-field>
          <span class="error"
            *ngIf="
            patientVitalForm.controls['diastolic'].invalid &&
            patientVitalForm.controls['diastolic'].dirty
            "
            >Diastolic is a required field with numbers</span
          >
        </div>

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label  class="label">Respiratory Rate</mat-label>
            <span class="suffix" matSuffix>BPM</span>
            <input matInput type="text" formControlName="respiratoryRate"  class="input-field" />
          </mat-form-field>
          <span class="error"
          *ngIf="
          patientVitalForm.controls['respiratoryRate'].invalid &&
          patientVitalForm.controls['respiratoryRate'].dirty
          "
          >Respiratory rate is a required field with numbers</span
        >
        </div>

        
      </div>
    </div>
    <div class="actions">
     
      <button
        mat-raised-button
        class="edit"
        [hidden]="!isEditClicked"
        (click)="edit_click()"
      >
        Edit
      </button>
      <button
        mat-raised-button
        class="submit"
        [hidden]="!isSaveClicked"
        (click)="save_click()"
      >
        Save
      </button>
    </div>
  </form>
</mat-card>
<!-- <br>

<app-footer></app-footer> -->



