<div>
    <div class="content-container">
      <button id="close-icon" style="margin-left: 240px; background-color: white; color:red"   (click)="closeDialog()"><mat-icon>close</mat-icon></button>
      <br>
      <span *ngIf="user.opt==1"  class="content-span full-width" style="color: brown;">Are you sure to delete this Record ?</span>
      <span *ngIf="user.opt==2"  class="content-span full-width" style="color: brown;">Are you sure to Block ?</span>
      <span *ngIf="user.opt==3"  class="content-span full-width" style="color: brown;">Are you sure to Unlock ?</span>
    </div>
    <br>
    <br>
    <button mat-flat-button *ngIf="user.opt==1" style="background-color:green; color:white"  [class.spinner]="loading1" [disabled]="loading1" (click)="delete_emp()">YES</button>
    <button mat-flat-button *ngIf="user.opt==2" style="background-color:green; color:white" [class.spinner]="loading2" [disabled]="loading2"  (click)="block_emp()">YES</button>
    <button mat-flat-button *ngIf="user.opt==3" style="background-color:green; color:white" [class.spinner]="loading3" [disabled]="loading3" (click)="unlock_emp()">YES</button>
    <button mat-flat-button  style="background-color:red; color:white; margin-left: 20px;" [mat-dialog-close]="false" >NO</button>
   
  </div>