
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color:blue;
    animation: spinner .8s linear infinite;
  }

mat-card
{
    width: 500px;
    height: 370px;
    background-color: rgb(231, 239, 240);
    
} 

button
{
    width: 80px;
   margin-left: 55px;
}

mat-card:hover 
{
     /* rgb(0, 255, 221); rgb(0, 255, 221);  */
    cursor: pointer;
    box-shadow: 1px 5px 10px grey;
   
  }
mat-card-title,mat-card-content 
{
    
    color: blue;
    display: flex;
    justify-content: center;
    
}
.parts
{   
    margin: 50px;
    float: left;
    position: static;
}
.error{
    color: red;
    
}
.text-danger{
    color: red;

}
.footer-div{
    margin-top: 500px;
}