<div class="login">
    <div>
        <input type="text" placeholder="Email ID" [(ngModel)]="userName">
    </div>
    <div>
        <input type="password" name="" id="" placeholder="Password" [(ngModel)]="password">
    </div>
    <div>
        <button id="login">Login</button>
    </div>
    <div>
        <a href="" routerLink='/forgot'>Forgot Password?</a>
    </div>
    
    or
    
    <div>
        New to CT General Hospital? <button routerLink='/patient-register'>Register</button>
    </div>
</div>
