<app-patient-header [option]="option"></app-patient-header>

  <mat-card class="emergency-container">
  <mat-card class="em-header">
    <p style="text-align: center;">Emergency Contact Details</p>
  </mat-card>
  <form [formGroup]="patientEmergencyForm" class="form-container">
    <div class="em-details">
     
      <div class="em-info">
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label  class="label">First Name</mat-label>
            <input matInput type="text" formControlName="efname"  class="input-field" />
          </mat-form-field>

          <span
            *ngIf="
              patientEmergencyForm.controls['efname'].invalid &&
              patientEmergencyForm.controls['efname'].dirty
            "
            >First Name cannot be empty</span
          >
        </div>

        

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Relationship</mat-label>
            <select
              matNativeControl
              formControlName="relationship"
              id=""
              class="select-gender input-field"
              
            >
              <option value="Father">Father</option>
              <option value="Mother">Mother</option>
              <option value="Sibling">Sibling</option>
              <option value="Spouse">Spouse</option>
              <option value="Friend">Friend</option>
              <option value="Other">Other</option>
            </select>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Email</mat-label>
            <input matInput type="email" required formControlName="eemail" class="input-field" />
          </mat-form-field>
          <span
            *ngIf="
              patientEmergencyForm.controls['eemail'].invalid &&
              patientEmergencyForm.controls['eemail'].dirty
            "
            >Please enter your email address
            </span
          >
        </div>

        

        <div class="field">

          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Contact Number</mat-label>
            <input matInput type="tel" formControlName="econtact" class="input-field" />
          </mat-form-field>
            <span
              *ngIf="
                patientEmergencyForm.controls['econtact'].invalid &&
                patientEmergencyForm.controls['econtact'].dirty
              "
              >Contact number is required</span
            >
        </div>
      </div>


      <div class="em-info">
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Last Name</mat-label>
            <input matInput type="text" formControlName="elname" class="input-field" />
          </mat-form-field>
          <span
            *ngIf="
              patientEmergencyForm.controls['elname'].invalid &&
              patientEmergencyForm.controls['elname'].dirty
            "
            >Last Name cannot be empty</span
          >
        </div>


        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px" required>
            <mat-label class="label">Home Address</mat-label>
            <textarea matInput rows="5" formControlName="eaddress" class="input-field" style="height: 81px;"></textarea>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Do you need to access Patient Portal?</mat-label>
            <select
              matNativeControl
              formControlName="access"
              id=""
              class="input-field"
              
            >
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </mat-form-field>
          <span
              class="error"
              *ngIf="
                patientEmergencyForm.controls['access'].invalid &&
                patientEmergencyForm.controls['access'].dirty 
              "
            >
              Kindly select the access
            </span>
        </div>


      </div>
    </div>
    <div class="actions">
      <button
        mat-raised-button
        class="submit"
        [disabled]="patientEmergencyForm.invalid"
        [hidden]="!isSubmitClicked"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        mat-raised-button
        class="edit"
        [hidden]="!isEditClicked"
        (click)="onEdit()"
      >
        Edit
      </button>
      <button
        mat-raised-button
        class="cancel"
        [hidden]="!isCancelClicked"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-card>
<!-- </div> -->
<!-- <br />
<br />
<br />

<app-footer></app-footer> -->
