<app-patient-header [option]="option"></app-patient-header>
<body  style="margin-bottom: 20%;margin-top: 5%;">
    <div>
    <form [formGroup]="ProcedureGroup">
        <div class="first-div">
            <mat-card class="mat_style">
            <p><strong style="margin-left: 35%;">Add Procedure Details</strong></p>
            </mat-card>
            <div style="padding-top: 3%;padding-left: 10%;">
                <mat-form-field appearance="fill" class="dropdown mw-50">
                    <mat-label class="label">Procedure Code</mat-label>
                    <select matNativeControl required [(ngModel)]="ProcedureCode" formControlName="ProcedureCode"  name="select">
                        <!-- <option value="Code1">Code 1</option>
                        <option value="Code2">Code 2</option>
                        <option value="Code3">Cpde 3</option> -->
                        <option *ngFor="let type of procedureCode" value="{{procedureCode}}">{{procedureCode}}</option>
                    </select>
                </mat-form-field>
                <mat-form-field appearance="fill"  class="dropdown mw-50">
                    <mat-label>Procedure Name</mat-label>
                    <select matNativeControl required (change)="procedureNameChangeHandler(select.value)" #select [(ngModel)]="ProcedureName" formControlName="ProcedureName" name="select">
                        <!-- <option value="Procedure1">Procedure 1</option>
                        <option value="Procedure2">Procedure 2</option>
                        <option value="Procedure3">Procedure3</option> -->
                        <option *ngFor="let item of procedureName" value="{{item.ProcedureName}}">{{item.ProcedureName}}</option>
                    </select>
                </mat-form-field>
            </div>
                <br>
                <div class="example-button-row">
                    <!-- [disabled]="((procedure.errors!=null && procedure.errors['required'] )|| ( code.errors!=null && (code.dirty || code.errors['required'])) ? true:false)" -->
                    <button style="width: 80px;background-color: green;color: white;" mat-raised-button color="primary" id="btnadd" (click)="btnadd_click()" [disabled]="( ( this.ProcedureName==null) || ( this.ProcedureCode==null) ?true:false )">Add</button>
                    <button style="width: 80px;background-color: rgba(10, 102, 163, 0.897);"  mat-raised-button color="primary" id="btncancel" (click)="btncancel_click()">Reset</button>
                </div>
    </div>
    <br>
    <br>
    <div style="margin-left: 15%;margin-top: 5px;">
        <!-- <label style="color: rgba(10, 102, 163, 0.897);padding-left: 33.5%;margin-bottom: 2%;font-size: large;"><b>Diagnosis Details</b></label> -->
        <table class="table-first" style="width: 83%;">
            <tr><td colspan="4" style="color: rgba(10, 102, 163, 0.897);margin-bottom: 2%;font-size: large;padding-bottom: 1.5%;padding-top: 2%;"><mat-card class="em-header2"><b style="margin-left: 38.5%;">Procedure Details</b></mat-card></td></tr>
            <tr class="table-head">
                <th>Procedure Code</th>
                <th>Procedure Name</th>
                <th>Date</th>
            </tr>
            <tr class="table-row" *ngFor="let selectedData of data;let i=index">
                <td class="td-first">{{selectedData.ProcedureCode}}</td>
                <td class="td-first">{{selectedData.ProcedureName}}</td>
                <td class="td-first-date">{{selectedData.date}}</td>
                <td><a href="javascript:void(0)" (click)=deleteproduct_click(i)>Delete</a></td>
            </tr>
            <tr style="background-color:   #f3f3f3;" *ngIf="data.length<=0">
                <td class="td-first" colspan="3" style="padding-left: 40%;">**No Procedures**</td>
            </tr>
        </table>
        <!-- <mat-paginator  #paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
</div>
    </form>
</div>
</body>

<app-footer></app-footer>