<app-admin-header [option]="option"></app-admin-header>
<div>
    <select>
        <option selected>Search by</option>
        <option>Name</option>
        <option>Id</option>
    </select>
    <input type="text" placeholder="Enter patient Name or ID">
</div>
<div>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>DOJ</th>
            <th>Status</th>
            <th>Edit Status</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>
<app-footer></app-footer>


<app-footer></app-footer>
