<app-admin-header [option]="option"></app-admin-header>
<div style="padding-top: 4%;padding-left: 20%;">
    <label style="color: rgba(10, 102, 163, 0.897);margin-top: 10px; padding-left: 35%;"><b><u>Patient List</u></b></label>
</div>
<div class="emp_div1">
    <select [(ngModel)]="selectDD">
        <!-- <option selected>Search by</option> -->
        <option>PatientName</option>
        <option>PatientId</option>
    </select>
    <input [(ngModel)]="searchedKeyword" type="text" ngModel="" style="margin-left: 2%; width: 30%;" placeholder="Enter Patient Name or ID">
    <input type="button" mat-button style="background-color:green;color:white;margin-left: 1%;" value="Search" (click)="get_Value()">
</div>
<div class="emp_div2">
    <table class="emp_table1" border="1">
        <tr class="table-head">
            <th style="padding-left: 10px;">Patient ID</th>
            <th>Patient Name</th>
            <th>Date of Registration</th>
            <th>Status</th>
            <th style="padding-left: 10px;">Edit Status</th>
        </tr>
        <tr *ngFor="let data of tempdata;let i=index" class="table-row">
            <td style="padding-left: 4%;padding-bottom: 1%;padding-top: 5px;">{{data.PatientId}}</td>
            <td style="padding-left: 2%;padding-bottom: 1%;padding-top: 5px;">{{data.PatientName}}</td>
            <td style="padding-bottom: 1%;padding-top: 5px;padding-left: 30px;">{{data.date_of_reg}}</td>
            <td style="padding-bottom: 1%;padding-top: 5px;">{{data.status}}</td>
            <td>
                <span *ngIf="data.status=='Active'">
                    <a href="javascript:void(0)" (click)="changeDeActivate(i)">
                        DeActivate
                    </a>/
                    <a href="javascript:void(0)" (click)="changeBlock(i)">
                        Block
                    </a>
                </span>
                <span *ngIf="data.status=='InActive'">
                    <a href="javascript:void(0)" (click)="changeActive(i)">
                        Activate
                    </a>/
                    <a href="javascript:void(0)" (click)="changeBlock(i)">
                        Block
                    </a>
                    <!-- <a href="">
                        Activate/Block
                    </a> -->
                </span>
                <span *ngIf="data.status=='Blocked'">
                    <a href="javascript:void(0)" (click)="changeActive(i)">
                        Activate
                    </a>/
                    <a href="javascript:void(0)" (click)="changeDeActivate(i)">
                        DeActivate
                    </a>
                    <!-- <a href="">
                        Activate/DeActivate
                    </a> -->
                </span>
            </td>
        </tr>
        
    </table>
    
</div>

<app-footer></app-footer>


<app-footer></app-footer>

