<app-header></app-header>

<div class="main-container">
    <div class="heading">
        <h2>Account Recovery</h2>
        <p class="text">Enter your email and we'll send you a link to reset your password</p>
    </div>
  
    <div>
        <form [formGroup]="forgotPasswordForm" class="form">
            <div class="email">
                <mat-form-field appearance="fill" style="width: 250px;">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" id="email"  [(ngModel)]="inputEmail" >
                </mat-form-field>
            </div>
            <div>
                <span class="error" *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].dirty">
                    Please enter the registered email</span>
            </div>
        
            <div>
                <button mat-raised-button class="btn" [disabled]="forgotPasswordForm.invalid"
                    (click)="otpHandler()">Send OTP</button>
            </div>
            <div class="message">
                <p class="messagePara">{{message}}</p>
            </div>
        </form>
    </div>

    <div>
        <button class="loginbtn" routerLink=''>Back to Login</button>
    </div>
</div>
