.main-container{
    display: grid;
    place-items: center;
    text-align: center;
    margin: auto;
    border: 1px solid rgba(10, 102, 163, 0.897);
    box-shadow: 1px 1px 1px 1px rgba(10, 102, 163, 0.897);
    width: 400px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    
 }
 h2{
     font-size: x-large;
     font-weight: bold;
 }
 .text{
     color: black;
     font-size: 15px;
 }
 .input{
     height: 30px;
     width: 200px;
 }
 .error{
     font-size: 14px;
     color: red;
 }
 .back{
     color: rgb(50, 50, 146);
 }
 
 .btn{
     background-color: rgba(10, 102, 163, 0.897);
     color: white;
 }
 .heading{
     color: rgba(10, 102, 163, 0.897);
 
 }
 .email{
     padding-bottom: 10px;
 }
 .message{
     padding-top: 10px;
     font-size: 15px;
 }
 
 .loginbtn{
     border: none;
     cursor: pointer;
     background-color: white;
     
 }
 .loginbtn:hover{
     text-decoration: underline;
    color: blue;
    
 
 }
 