<app-header></app-header>

<div class="main-container">

    <div class="heading">
        <h2>Account Recovery</h2>
        <p class="text">Enter your email and we'll send you a link to reset your password</p>
    </div>
    <div>
        <form [formGroup]="forgotPasswordForm" class="form">
            <div class="email">
                
                <input type="email" formControlName="email" id="email" required class="input" placeholder="Email ID" [(ngModel)]="inputEmail" >
                <p class="error" *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].dirty">
                    Please enter the registered email</p>
            </div>
            <div>
                <button mat-raised-button class="btn" [disabled]="forgotPasswordForm.invalid"
                    (click)="otpHandler()">Send OTP</button>
            </div>
            <div class="message">
                <p>{{message}}</p>
            </div>
        </form>
    </div>
    <div>
        <button class="loginbtn" routerLink='/login'>Back to Login</button>
        <!-- <a class="back" href="/src/app/login/LoginComponents/login-screen/login-screen.component.html">Back to Login</a> -->
    </div>


</div>