.main-container{
   display: grid;
   place-items: center;
   text-align: center;
   margin: auto;
   background-color: lightblue;
   width: 400px;
   height: 300px;
   padding-left: 10px;
   padding-right: 10px;
   
}
h2{
    font-size: x-large;
    font-weight: bold;
}
.text{
    color: black;
    font-size: 15px;
}
.input{
    height: 20px;
    width: 200px;
}
.error{
    color: red;
}
.back{
    color: rgb(50, 50, 146);
}

.btn{
    background-color: rgb(50, 50, 146);
    color: white;
}
.heading{
    color: rgb(50, 50, 146);

}
.email{
    padding-bottom: 10px;
}
.message{
    padding-top: 10px;
    font-size: 15px;
}
.loginbtn{
    border: none;
    cursor: pointer;
    background-color: lightblue;
    
}
.loginbtn:hover{
    text-decoration: underline;
   color: blue;
   

}
