<app-header></app-header>

<div class="main-container">
    <div *ngIf="disableOption1">
        <div class="heading">
            <h2>Account Recovery</h2>
            <p class="text">Enter your email and we'll send you a OTP to reset your password</p>
        </div>
        <form [formGroup]="forgotPasswordForm" class="form">
            
            <div class="email">
                <mat-form-field appearance="fill" style="width: 250px;">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" id="email"   [(ngModel)]="inputEmail" autofocus >
                </mat-form-field>
            </div> 
            
                <span class="error" *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].dirty">
                    *Please Enter Valid Email</span>
            
        
            <div>
                <button mat-raised-button class="btn" [disabled]="forgotPasswordForm.invalid"
                    (click)="getOtp()" >Send OTP</button>
                
            </div>
        </form>
    </div>
    
    <div *ngIf="disableOption2">
        <div class="heading">
            <h2>Account Recovery</h2>
            <p class="text">Enter Your OTP and New Password</p>
        </div>
        <form [formGroup]="otpPasswordForm" class="form">

            <mat-form-field appearance="fill" style="width: 250px;">
                <mat-label>OTP</mat-label>
                <input matInput formControlName="otp" id="otp"  [(ngModel)]="otp" autofocus>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 250px;">
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="newPassword" id="email"  [(ngModel)]="newPassword" >
            </mat-form-field>
                <div class="error" *ngIf=" otpPasswordForm.controls['newPassword'].invalid && otpPasswordForm.controls['newPassword'].touched ">
                        *Password should contain one Uppercase letter,lowercase letter,number and minimum length of 8 characters</div> 
            
            <div>
                <button mat-raised-button class="btn" [disabled]="otpPasswordForm.invalid"
                    (click)="validiateOtp()">Verify</button>
                
            </div>
           
        </form>
    </div>
    <div>
        <button class="loginbtn" routerLink=''>Back to Login</button>
    </div>
</div>
