@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
mat-radio-button 
{
    padding-left: 12px;
}
span{
    color: red;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgba(10, 102, 163, 0.897) ;
  }
  
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgba(10, 102, 163, 0.897) ;
  }
  
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element 
{
    background-color:rgba(10, 102, 163, 0.897) ;
}

.btn-dialog-close{
 margin-left:370px;

  color: red;
  }