<app-patient-header></app-patient-header>
<p><strong style="color: rgb(255, 153, 0); margin-left: 500px;">New Appointment </strong></p>

<body>
  <div style="width: 100%;">
    <div id="hzDivleft">
      <form #appointmentForm="ngForm" [formGroup]="appointmenttForm" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Appointment Type</mat-label>
            <select matNativeControl required [formControl]="appointmentType" formControlName="appointmentType"
              name="appointmentType">
              <option value="App1">App1</option>
              <option value="App2">App2</option>
              <option value="App3">App3</option>
            </select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Speciality</mat-label>
            <select matNativeControl required [formControl]="Speciality" formControlName="Speciality" name="Speciality">
              <option value="Nose">Nose</option>
              <option value="Eye">Eye</option>
              <option value="Throat">Throat</option>
            </select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Physician</mat-label>
            <select matNativeControl required [formControl]="Physician" formControlName="Physician" name="Physician">
              <option value="Dr. Joe">Dr. Joe</option>
              <option value="Dr. Lee">Dr. Lee</option>
              <option value="Dr Clark">Dr Clark</option>
            </select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minDate" [formControl]="date" formControlName="date"
              name="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Slot</mat-label>
            <select matNativeControl required [formControl]="slot" formControlName="slot" name="slot">
              <option value="9-10 am">9-10 am</option>
              <option value="12-1pm">12-1 am</option>
            </select>
          </mat-form-field>
          <br>
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!appointmentForm.form.valid">Submit</button>
          </div>
        </mat-card>
      </form>
    </div>
    <div id="hzDivright" class="verDiv">
      <div style="height: 481px; width: 480px; margin-top: 0;">
        <table>
          <tr style="border: 1px solid black;">
              <th>Appointment Id</th>
              <th>Speciality</th>
              <th>Physician</th>
              <th>slot</th>
          </tr>
          <tr *ngFor="let p of appointmentData; let i = index;">
              <td>{{p.appointmentType}}</td>
              <td>{{p.Speciality}}</td>
              <td>{{p.Physician}}</td>
              <td>{{p.slot}}</td>
          </tr>
          <tr *ngIf="appointmentData.length==0">
             <td colspan="4">No records </td>
          </tr>
      </table>
      </div>
    </div>
  </div>


</body>
<app-footer></app-footer>