.main-appointment{
    
    margin: auto;
    width: 40%;
    border: 1px solid rgba(10, 102, 163, 0.897);
    padding: 40px;
    padding-top: 50px;
    height: 500px auto;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 255, .2);
}
tr{
  
   margin-left:20px;
}
#header{
    background-color:rgba(10, 102, 163, 0.897); 
    width: 450px;
    height: 2rem;
}

.btn1{
    margin-left: 14px;
    margin-top: 15px;
    background-color: white;
}
.btn2{
    margin-left: 90px;
    margin-top: 15px;
    background-color: white;
}

.new_appointment>th{
    
    color: rgba(10, 102, 163);
    opacity: 0.7;
    padding-left: 25px;
}

.td_newap{
    
    margin-left: 70px;
    
}
.tbl2{
    padding: 14px;
    color: rgba(10, 102, 163);
    opacity: 0.6;
}
table{
    margin-top: 30px;
    margin-left:20px;
}
.tbl2td
{
    padding: 14px;
}