<app-patient-header [option]="option"></app-patient-header>
<br>
<br>
<br>
<mat-card class="allergy-container">
  <mat-card class="all-header">
    <p style="text-align: center;">Add Allergy Details</p>
  </mat-card>
  <form [formGroup]="patientAllergyForm" class="form-container">
   

    <div class="field allergy-field" style="flex-direction: row; font-size: 15px;">
      <mat-label class="label">Patient has any known allergies?</mat-label>
      <mat-radio-group formControlName="knownAllergy" required style="margin-left: 10px;">
        <mat-radio-button class="padding-right radio-yes" value="Yes">Yes</mat-radio-button>
        <mat-radio-button class="padding-right"  checked value="No">No</mat-radio-button>
      </mat-radio-group>

        <span
          class="error"
          *ngIf="
          patientAllergyForm.controls['knownAllergy'].invalid &&
          patientAllergyForm.controls['knownAllergy'].dirty 
          "
        >
        Kindly select the known allergy
        </span>
     
    </div>

    <div class="all-details" *ngIf="patientAllergyForm.controls['knownAllergy'].value === 'Yes'" >
      <div class="all-info">
       
        <!-- <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px; ">
            <mat-label  class="label">Allergy ID</mat-label>
            <input matInput type="text" formControlName="allergyId"  class="input-field" />
          </mat-form-field>
        </div> -->

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px" required>
            <mat-label class="label">Allergy Type</mat-label>
            <select
              matNativeControl
              formControlName="allergyType"
              id=""
              class="input-field"
               (change)="allergyNameChangeHandler(mySelect.value)" #mySelect
              style="width: 450px;"
            >
            <option *ngFor="let item of allergyTypes" [value]="item">{{item}}</option>
            </select>
          </mat-form-field>
        </div>

      
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px" required>
            <mat-label class="label">Allergy Name</mat-label>
            <select
              matNativeControl
              formControlName="allergyName"
              id=""
              class="input-field"
              style="width: 450px; "
            >
            <option  *ngFor="let item of allergyNames" [value]="item">{{item}}</option>
            </select>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px" required>
            <mat-label class="label">Allergy Description</mat-label>
            <textarea matInput rows="2" formControlName="allergyDesc" class="input-field" style="height: 20px;"></textarea>
          </mat-form-field>
        </div>
   
      </div>
      <div class="all-info">
      
        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px" required>
            <mat-label class="label">Allergy Clinical Information</mat-label>
            <textarea matInput rows="2" formControlName="allergyClinicalInfo" class="input-field" style="height: 20px;"></textarea>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field class="no-bottom" appearance="fill" style="width: 250px">
            <mat-label class="label">Is Allergy Fatal?</mat-label>
            <select
              matNativeControl
              formControlName="isAllergyFatal"
              class="input-field"
            >
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </mat-form-field>
        </div>

       
      </div>
    </div>
    <div class="actions" *ngIf="patientAllergyForm.controls['knownAllergy'].value === 'Yes'" > 
      <button mat-raised-button class="submit" [disabled]="patientAllergyForm.invalid"   (click)="onSubmit()">
        Submit
      </button>
      <button mat-raised-button class="cancel"   (click)="onCancel()">Cancel</button>

    </div>
  </form>

</mat-card>

<br>
<br>

<app-allergy-grid [allergies]="allergiesArray"></app-allergy-grid>
<!-- <br>
<br>

<app-footer></app-footer> -->

