<app-patient-header [option]="option"></app-patient-header>
<div class="border-vitals">
    <div [formGroup]="patientMedicationTable" class="medication-table"  style="margin-left: 20%;background-color: white;" >
        <mat-card class="border-style">
            <label style="color: rgba(10, 102, 163, 0.897); padding-left: 37%;margin-bottom: 5%;font-size: large;"><b>Add Medications Details</b></label>
            <hr style="line-height:10%;">
            <mat-card-content>
                <div>
                <mat-form-field appearance="fill"  class="dropdown mw-50 dropdown1-style">
                    <mat-label>Drug Name</mat-label>
                    <mat-select formControlName="drugname_data" [(ngModel)]="drug_name" id="name">
                        <!-- <mat-option ></mat-option> -->
                        <mat-option value="100.1">100.1</mat-option>
                        <mat-option value="10.6">10.6</mat-option>
                    </mat-select>
                    
                </mat-form-field>
                <mat-form-field appearance="fill" class="input1-class">
                    <mat-label>Frequency</mat-label>
                    <input matInput type="text" formControlName="frequency_data" [(ngModel)]="frequency">
                </mat-form-field>   
                </div>
                <div>
                    <mat-form-field appearance="fill"  class="dropdown mw-50 dropdown1-style">
                        <mat-label>Strength</mat-label>
                        <mat-select formControlName="strength_data" [(ngModel)]="strength">
                            <!-- <mat-option ></mat-option> -->
                            <mat-option value="100.1">100.1</mat-option>
                            <mat-option value="10.6">10.6</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field  appearance="fill"  class="dropdown mw-50 dropdown-style">
                        <mat-label>Form</mat-label>
                        <mat-select formControlName="form_data" [(ngModel)]="form">
                            <!-- <mat-option ></mat-option> -->
                            <mat-option value="Diabetes">Diabetes</mat-option>
                            <mat-option value="Allergy">Allergy</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill"  class="dropdown mw-50 dropdown1-style">
                        <mat-label>Quantity</mat-label>
                        <input matInput type="text" formControlName="quantity_data" [(ngModel)]="quantity">
                    </mat-form-field>
                    <mat-form-field  appearance="fill"  class="dropdown mw-50 dropdown-style">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes_data" [(ngModel)]="notes"></textarea>
                    </mat-form-field>
                </div>
                <div style="padding-top: 5%;">
                    <button [disabled]="patientMedicationTable.invalid" (click)="add_medications()" style="background-color:green ;width:10%;color:white;margin-bottom: 7%;margin-left: 35%;" mat-raised-button>Add</button>
                    <button (click)="remove_medications()" style="background-color:rgba(10, 102, 163, 0.897) ;color:white;margin-bottom: 7%;margin-left: 7%;" mat-raised-button>Reset</button>
                   
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br>   
    <div style="margin-left: 20%;margin-top: 40px;" >
        
            <table class="table-medi" style="width: 80%;">
                <tr><td colspan="8" style="padding-bottom: 4%;padding-top: 3%;"><label style="color: rgba(10, 102, 163, 0.897);padding-left: 38%;font-size: large;"><b><u>Medications Details</u></b></label></td></tr>
                <tr class="table-head">
                    <th>Drug Name</th>
                    <th>Strength</th>
                    <th>Quantity</th>
                    <th>Frequency</th>
                    <th>Form</th>
                    <th>Notes</th>
                    <th>Date</th>
                </tr>
                
                <tr *ngFor="let selectedData of data;let i=index" class="table-row">
                    <td class="td-first">{{selectedData.drug_name}}</td>
                    <td class="td-first">{{selectedData.strength}}</td>
                    <td class="td-first">{{selectedData.quantity}}</td>
                    <td class="td-first">{{selectedData.frequency}}</td>
                    <td class="td-first">{{selectedData.form}}</td>
                    <td class="td-first">{{selectedData.notes}}</td>
                    <td class="td-first">{{selectedData.ddate|date:'yyyy-MM-dd'}}</td>
                    <td><a href="javascript:void(0)" (click)=deleteproduct_click(i)>Delete</a></td>
                </tr>
                <tr style="background-color:   #f3f3f3;" *ngIf="data.length<=0">
                    <td colspan="7" style="padding-left: 40%;">**No known Medications</td>
                </tr>
                
                
            </table>
    </div>
    <br/><br/>
</div>



<app-footer></app-footer>
