<app-patient-header [option]="option"></app-patient-header>
<div class="border-vitals">
    <label style="color: rgba(10, 102, 163, 0.897);margin-top: 3%; padding-left: 42%;"><b><u>Medications Details</u></b></label>
    <div style="margin-left: 20%;margin-top: 40px;" >
        
            <table class="table-medi" style="width: 80%;">
                <tr class="table-head">
                    <th>Drug Name</th>
                    <th>Strength</th>
                    <th>Quantity</th>
                    <th>Frequency</th>
                    <th>Form</th>
                    <th>Notes</th>
                    <th>Date</th>
                </tr>
                
                <tr *ngFor="let selectedData of data;let i=index" class="table-row">
                    <td class="td-first">{{selectedData.drug_name}}</td>
                    <td class="td-first">{{selectedData.strength}}</td>
                    <td class="td-first">{{selectedData.quantity}}</td>
                    <td class="td-first">{{selectedData.frequency}}</td>
                    <td class="td-first">{{selectedData.form}}</td>
                    <td class="td-first">{{selectedData.notes}}</td>
                    <td class="td-first">{{selectedData.ddate|date:'yyyy-MM-dd'}}</td>
                    <td><a href="javascript:void(0)" (click)=deleteproduct_click(i)>Delete</a></td>
                </tr>
                <!-- <tr>
                    <td colspan="7" style="padding-left: 40%;">**No known Medications</td>
                </tr> -->
                
            </table>
    </div>
    <br/><br/>
    <div [formGroup]="patientMedicationTable" class="medication-table"  style="margin-left: 20%;background-color: white;" >
        <table class="table-class">
            <tr>
                <th colspan="4" style="padding-right:82%;">
                    Add Medications
                </th>
            </tr>
            <tr>
                <td class="td-second" style="padding-left: 9%;">
                    Drug Name
                </td>
                <td class="td-second">
                    <select formControlName="drugname_data" style="width:56%;margin-left: 5%;" [(ngModel)]="drug_name" id="name">
                        <option></option>
                        <option>paracetamal</option>
                        <option>Dolo</option>
                    </select>
                    
                </td>
                <td class="td-second" style="padding-left: 5%;">
                    Frequency
                </td>
                <td class="td-second" style="padding-left: 2%;">
                    <input formControlName="frequency_data" type="text" style="width: 54%;" [(ngModel)]="frequency">
                    
                </td>
                
            </tr>
            <tr>
                
                <td class="td-second" style="padding-left: 9%;">
                    Strength
                </td>
                <td class="td-second">
                    <select formControlName="strength_data" style="width: 56%;margin-left: 5%;height: 100%;" [(ngModel)]="strength">
                        <option></option>
                        <option>500</option>
                        <option>650</option>
                    </select>
                    <!-- <span
                        class="error"
                        *ngIf="
                        patientMedicationTable.controls['strength'].invalid &&
                        patientMedicationTable.controls['strength'].dirty">
                    Kindly Enter the strength
                    </span> -->
                </td>
                <td class="td-second" style="padding-left: 5%;">
                    Form
                </td>
                <td class="td-second" style="padding-left: 2%;">
                    <select style="width: 54%;height: 100%;" formControlName="form_data" [(ngModel)]="form">
                        <option></option>
                        <option>Medicine</option>
                        <option>X-Ray</option>
                    </select>
                    <!-- <span
                        class="error"
                        *ngIf="
                        patientMedicationTable.controls['form_data'].invalid &&
                        patientMedicationTable.controls['form_data'].dirty">
                    Kindly Select the form
                    </span> -->
                </td>
                
            </tr>
            <tr>
                <td class="td-second" style="padding-left: 9%;">
                    Quantity
                </td>
                <td class="td-second">
                    <input formControlName="quantity_data" type="text" style="width: 56%;margin-left: 5%;" [(ngModel)]="quantity">
                    <!-- <span
                        class="error"
                        *ngIf="
                        patientMedicationTable.controls['quantity'].invalid &&
                        patientMedicationTable.controls['quantity'].dirty">
                    Kindly Enter the quantity
                    </span> -->
                </td>
                <td class="td-second" style="padding-left: 5%;">
                    Notes
                </td>
                <td class="td-second" style="padding-left: 2%;">
                    <textarea formControlName="notes_data" style="width: 55%;height: 100%;" [(ngModel)]="notes"></textarea>
                    <!-- <span
                        class="error"
                        *ngIf="
                        patientMedicationTable.controls['notes'].invalid &&
                        patientMedicationTable.controls['notes'].dirty">
                    Kindly Enter the notes
                    </span> -->
                </td>
                
            </tr>
            <tr>
                <td class="td-second" colspan="2" style="padding-left: 35%;padding-top: 5%;">
                    <button [disabled]="patientMedicationTable.invalid" mat-raised-button style="background-color: green;color: white;margin-bottom: 25%;" (click)="add_medications()">Add</button>
                </td>
                <td class="td-second" colspan="2" style="padding-right: 10%;padding-top: 5%;">
                    <button mat-raised-button style="background-color:rgba(10, 102, 163, 0.897);color: white;margin-bottom: 10%;" (click)="remove_medications()">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
</div>



<app-footer></app-footer>
