.employee-container {
    background-color: white;
    width: 35%;
    display: grid;
    place-items: center;
    margin: auto;
    height: 500px;
    border: 1px solid rgba(10, 102, 163, 0.897);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 255, .2);
}
.no-bottom{
    margin-bottom: -1.25rem !important;
}
.em-header {
    width: 90%;
    color: rgba(10, 102, 163, 0.897);
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}


.em-details {
    width: 70%;
    padding: 1rem;
    margin: auto;
}


.field {
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.padding-right {
    padding-left: 0px;
    padding-right: 2px;
}

.radio-yes{
    margin-right: 5px;
}






.form-container {
    width: 98%;
}

.actions {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;


}

span {
    color: red;
    font-size: 10px;
}

.cancel{
    margin-right: 10px;
    width: 70px;
    background-color:lightgrey;
    color: black;
}



.register{
    margin-right: 10px;
    width: 70px;
    
     background-color: green;
     color: white;
     /* text-align: center; */
}
.select{
    width: 90%;
    height: 90%;
}

.input-field{
    color:rgba(10, 102, 163, 0.897) ;
    
}
.label{
    color:black;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgba(10, 102, 163, 0.897) ;
  }
  
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgba(10, 102, 163, 0.897) ;
  }
  
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(10, 102, 163, 0.897) ;
  }

  .mat-raised-button{
      padding:0px;
  }

  ::ng-deep .mat-radio-label-content {
      padding-left: 0px;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .employee-container{
        width: 100%;
        height: auto;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .employee-container{
        width: 90%;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .employee-container{
         width: 70%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .employee-container{
         width: 35%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .employee-container{
         width: 35%;
    }
}
